#first-player-choice
  %h3 Which player goes first?
  .row
    = link_to human_vs_human_index_path, method: :post do
      .col.s12.m6.first-player-choice.center-align#player-1
      .col.s12.m6.first-player-choice.center-align#player-2
