#marker-choice
  %h3 <span id="player1-name"></span>: Would you like to be X or O?
  .row
    .col.s12.m6.marker-choice.center-align#x
      %h1 X
    .col.s12.m6.marker-choice.center-align#o
      %h1 O
