%main
  .container
    .row
      .col.s12.m6
        %h4 Player: <span id="current-player">(Current Player)</span>
        #moves
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
        %p
          %a#computer-demo{:href => "#"} Demo - Computer Move
        %p
          %a#human-demo{:href => "#"} Demo - Human Move
      .col.s12.m6
        #board
          .row
            .col.s4.row1.col1.top-left
              .cell.valign-wrapper.empty
            .col.s4.row1.col2.top-middle
              .cell.valign-wrapper.empty
            .col.s4.row1.col3.top-right
              .cell.valign-wrapper.empty
          .row
            .col.s4.row2.col1.middle-left
              .cell.valign-wrapper.empty
            .col.s4.row2.col2.middle-middle
              .cell.valign-wrapper.empty
            .col.s4.row2.col3.middle-right
              .cell.valign-wrapper.empty
          .row
            .col.s4.row3.col1.bottom-left
              .cell.valign-wrapper.empty
            .col.s4.row3.col2.bottom-middle
              .cell.valign-wrapper.empty
            .col.s4.row3.col3.bottom-right
              .cell.valign-wrapper.empty
