.container
  .row
    .col.s12.m6
      %h4 Player: <span id="current-player">(Current Player)</span>
      #last-move
        <span id="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
    .col.s12.m6
      #board
        .row
          .col.s4.row1.col1
            .cell.valign-wrapper
          .col.s4.row1.col2
            .cell.valign-wrapper
          .col.s4.row1.col3
            .cell.valign-wrapper
        .row
          .col.s4.row2.col1
            .cell.valign-wrapper
          .col.s4.row2.col2
            .cell.valign-wrapper
          .col.s4.row2.col3
            .cell.valign-wrapper
        .row
          .col.s4.row3.col1
            .cell.valign-wrapper
          .col.s4.row3.col2
            .cell.valign-wrapper
          .col.s4.row3.col3
            .cell.valign-wrapper
