%main
  .container
    .row
      .col.s12.m6
        %h4 Player: <span id="current-player">(Current Player)</span>
        #moves
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
          .player-move
            <span class="last-player">(Last Player)</span> moved in spot <span id="last-spot">(spot)</span>
        %p
          %a#computer-demo{:href => "#"} Demo - Computer Move
        %p
          %a#human-demo{:href => "#"} Demo - Human Move
        %p
          %a.modal-trigger{:href => "#winner"} Demo - Winner

      .col.s12.m6
        = render "board"
/* Winner Modal */
= render "winner"
